In [ ]:
import pandas as pd

In [ ]:
customers=pd.read_csv("/content/customers.csv",
                      header= None,
                      names=['custno',
                             'firstname',
                             'lastname',
                             'gender',
                             'age',
                             'profession',
                             'contactNo',
                             'emailId',
                             'city',
                             'state',
                             'isActive',
                             'createdDate',
                             'UpdatedDate'])
customers

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Leslie,Bass,F,27,B,37307,endslost@everyma1l.org,Gibson,Dellwood,Y,9/21/2017 12:38,10/18/2017 12:12
1,2,Judy,Burks,M,53,S,84759,rfleming@hotma1l.co.uk,Suwanee,Trabue,Y,5/22/2017 5:29,10/18/2017 12:12
2,3,Marsha,Doyle,F,48,B,80932,arethe53@ma1lbox.net,Perry,Moxadarla,Y,9/3/2017 12:11,10/18/2017 12:12
3,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2/16/2017 4:05,10/18/2017 12:12
4,5,Martha,Combs,F,49,B,83947,camedied@everyma1l.us,Ocilla,Greenwood,Y,5/15/2017 7:34,10/18/2017 12:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,964,Jared,McDowell,M,57,S,81891,rescueship@everyma1l.co.uk,Glenwood,Billingsley,Y,9/6/2017 9:20,10/18/2017 12:12
996,965,Rita,Bender,F,46,B,57356,itlost@ma1l2u.biz,Austell,Wheeling,Y,9/16/2017 4:59,10/18/2017 12:12
997,966,Myron,Blake,M,46,S,82675,librarysmoke@everyma1l.co.uk,Sycamore,Gant,Y,4/20/2017 6:38,10/18/2017 12:12
998,967,Tina,Sargent,F,60,B,32097,mhanson@somema1l.com,Blackshear,Traci,Y,5/24/2017 8:28,10/18/2017 12:12
999,968,Paula,Young,M,32,S,23603,lostwhite12@b1zmail.net,Washington,Stansberry,Y,8/15/2017 10:32,10/18/2017 12:12

In [ ]:
products=pd.read_csv("/content/products.csv",
                     header=None,
                     names=['productno',
                            'productName',
                            'Description',
                            'isActive',
                            'createdDate',
                            'UpdatedDate'])
products

,productno,productName,Description,isActive,createdDate,UpdatedDate
0,1,Product1,pgqorighfa,Y,2017-04-03 07:58:55,2017-10-18 12:12:38
1,2,Product2,lmndaaweth,Y,2017-09-21 12:38:31,2017-10-18 12:12:38
2,3,Product3,urifeubrhh,Y,2017-09-08 10:32:12,2017-10-18 12:12:38
3,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38
4,5,Product5,hzcpozsgfc,Y,2017-02-02 08:40:29,2017-10-18 12:12:38
...,...,...,...,...,...,...
995,996,Product996,acvxzpvhyu,Y,2017-09-09 07:49:14,2017-10-18 12:12:39
996,997,Product997,eguyggimfm,Y,2017-09-14 12:13:29,2017-10-18 12:12:39
997,998,Product998,hagbslxugf,Y,2017-04-20 06:25:03,2017-10-18 12:12:39
998,999,Product999,iuoraxdrlf,Y,2017-03-06 05:00:08,2017-10-18 12:12:39
999,1000,Product1000,ewgaacrkht,N,2017-07-13 02:52:44,2017-10-18 12:12:39

In [ ]:
transactions=pd.read_csv("/content/transactions.csv",header=None,names=['txnno','txndate','custno','amount','productno','spendby'])
transactions

     txnno              txndate  custno  amount  productno spendby
0        1  2017-10-18 12:31:45     923    2559        376    Card
1        2  2017-10-18 12:31:45     219    1706        151    Card
2        3  2017-10-18 12:31:45     927    3462        707    Cash
3        4  2017-10-18 12:31:45     806     865        539    Card
4        5  2017-10-18 12:31:45     958    2494         25    Card
..     ...                  ...     ...     ...        ...     ...
995    996  2017-10-18 12:31:46     653    2872        155    Cash
996    997  2017-10-18 12:31:46     849     815        386    Card
997    998  2017-10-18 12:31:46     939    3932        529    Card
998    999  2017-10-18 12:31:46     547    3021        774    Cash
999   1000  2017-10-18 12:31:46     204    2314        828    Card

[1000 rows x 6 columns]

Top Five Records

In [ ]:
print(" Customers first five records")
customers.head()

 Customers first five records

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Leslie,Bass,F,27,B,37307,endslost@everyma1l.org,Gibson,Dellwood,Y,9/21/2017 12:38,10/18/2017 12:12
1,2,Judy,Burks,M,53,S,84759,rfleming@hotma1l.co.uk,Suwanee,Trabue,Y,5/22/2017 5:29,10/18/2017 12:12
2,3,Marsha,Doyle,F,48,B,80932,arethe53@ma1lbox.net,Perry,Moxadarla,Y,9/3/2017 12:11,10/18/2017 12:12
3,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2/16/2017 4:05,10/18/2017 12:12
4,5,Martha,Combs,F,49,B,83947,camedied@everyma1l.us,Ocilla,Greenwood,Y,5/15/2017 7:34,10/18/2017 12:12

In [ ]:
print(" Transactions first five records")
transactions.head()

 Transactions first five records

   txnno              txndate  custno  amount  productno spendby
0      1  2017-10-18 12:31:45     923    2559        376    Card
1      2  2017-10-18 12:31:45     219    1706        151    Card
2      3  2017-10-18 12:31:45     927    3462        707    Cash
3      4  2017-10-18 12:31:45     806     865        539    Card
4      5  2017-10-18 12:31:45     958    2494         25    Card

In [ ]:
print("Products first five records")
products.head()

Products first five records

,productno,productName,Description,isActive,createdDate,UpdatedDate
0,1,Product1,pgqorighfa,Y,2017-04-03 07:58:55,2017-10-18 12:12:38
1,2,Product2,lmndaaweth,Y,2017-09-21 12:38:31,2017-10-18 12:12:38
2,3,Product3,urifeubrhh,Y,2017-09-08 10:32:12,2017-10-18 12:12:38
3,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38
4,5,Product5,hzcpozsgfc,Y,2017-02-02 08:40:29,2017-10-18 12:12:38

Customers purchased more than 3 products

In [ ]:
df=transactions.groupby('custno').count()
df1=df.sort_values(by='amount',ascending=False)
top_3=df1[df1>3].dropna()
pd.merge(customers,top_3,on='custno')

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate,txnno,txndate,amount,productno,spendby
0,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2/16/2017 4:05,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
1,86,Bonnie,McCall,M,37,S,70907,constantlyfire@gma1l.net,Screven,Farson,Y,10/12/2017 7:35,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
2,167,Alice,Blake,F,58,B,22324,wherealways@b1zmail.biz,Homerville,Daisy,Y,5/1/2017 8:00,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
3,187,Alan,Anthony,F,50,B,40487,calvarez@ma1l2u.us,Sunbury,Linn,Y,5/25/2017 4:59,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
4,237,Dawn,West,F,26,B,75618,oncaves@everyma1l.biz,Adrian,Extension,Y,3/4/2017 1:29,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
5,241,Derrick,Pearson,F,33,B,74138,acarpenter@b1zmail.com,Crescent,Grove,Y,4/2/2017 5:16,10/18/2017 12:12,5.0,5.0,5.0,5.0,5.0
6,321,Crystal,Le,F,64,B,37857,klawrence@hotma1l.biz,East Dublin,Thorn,Y,8/31/2017 6:11,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
7,326,Heidi,Stanley,M,29,S,78822,bhull@everyma1l.us,Fayetteville,Garrell,Y,8/30/2017 4:10,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
8,331,Cynthia,Harrison,F,49,B,53439,krush@gma1l.us,Mcintosh,Bradington,Y,5/7/2017 12:42,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
9,356,Mitchell,Mason,M,37,S,45064,fromwhat@somema1l.us,Cecil,Lazelere,Y,9/2/2017 6:47,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
10,391,Keith,Church,F,19,B,26859,tkeith@yah00.com,Collins,Stout,Y,8/2/2017 1:12,10/18/2017 12:12,5.0,5.0,5.0,5.0,5.0
11,537,Jake,Bush,F,23,B,80535,lsharpe@somema1l.us,Doraville,Springdale,Y,3/10/2017 3:37,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
12,558,Lois,Todd,M,58,S,39051,rgarner@ma1lbox.org,Broxton,Cliffwood,Y,10/3/2017 5:37,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
13,578,Christine,Murray,M,40,S,74244,aacevedo@somema1l.org,Sirmans,Darla,Y,2/24/2017 1:15,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
14,709,Kyle,Haynes,F,44,B,30552,ecain@somema1l.com,Riverdale,Eastview,Y,6/3/2017 7:10,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
15,735,James,Payne,F,39,B,30415,inhatch@b1zmail.biz,Gainesville,Hardesty,Y,4/3/2017 5:10,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
16,753,Denise,Stokes,F,37,B,88779,textas98@b1zmail.org,Twin Peaks,Alburn,Y,4/30/2017 5:25,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
17,828,Katrina,Barber,M,47,S,61069,whattook@everyma1l.us,Fort Oglethorpe,Detroit,Y,4/14/2017 6:49,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0
18,989,Ronald,Mayo,F,56,B,23161,redthrow@ma1lbox.com,Kite,Smithwood,Y,10/4/2017 4:16,10/18/2017 12:12,4.0,4.0,4.0,4.0,4.0

top 5 most demanded products

In [ ]:
df=transactions.groupby('custno').count()
df1=df.sort_values(by='amount',ascending=False).head()
pd.merge(products,df1,on='productno')

,productno,productName,Description,isActive,createdDate,UpdatedDate,txnno,txndate,amount,spendby
0,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38,4,4,4,4
1,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38,4,4,4,4
2,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38,4,4,4,4
3,5,Product5,hzcpozsgfc,Y,2017-02-02 08:40:29,2017-10-18 12:12:38,5,5,5,5
4,5,Product5,hzcpozsgfc,Y,2017-02-02 08:40:29,2017-10-18 12:12:38,5,5,5,5

top 5 transactions amount

In [ ]:
transactions.sort_values(by='amount',ascending=False).head()

     txnno              txndate  custno  amount  productno spendby
556    557  2017-10-18 12:31:46     670    4996        509    Card
305    306  2017-10-18 12:31:46     448    4992        427    Cash
574    575  2017-10-18 12:31:46     305    4981        549    Card
531    532  2017-10-18 12:31:46     230    4980        658    Card
232    233  2017-10-18 12:31:45     287    4966        685    Card

distinct professions

In [ ]:
customers['profession'].unique()

array(['B', 'S'], dtype=object)

highest age

In [ ]:
customers.sort_values(by='age',ascending=False).head(1)

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
500,501,Morgan,Donaldson,F,64,B,52553,ggordon8@yah00.biz,Elberton,Codell,Y,8/15/2017 1:08,10/18/2017 12:12

custno, gender, age, profession, contactno, productno, productName,
txndate, spendby, amount from CSV_s1 for custno = 923

In [ ]:
A=customers[customers['custno']==923]
df=pd.merge(A,transactions,on='custno')
df1=pd.merge(df,products,on='productno')
df1[['custno', 'gender', 'age', 'profession', 'productno', 'contactNo','productName', 'txndate', 'spendby', 'amount']]

,custno,gender,age,profession,productno,contactNo,productName,txndate,spendby,amount
0,923,F,46,B,376,25436,Product376,2017-10-18 12:31:45,Card,2559
1,923,F,46,B,113,25436,Product113,2017-10-18 12:31:46,Card,2303
2,923,F,46,B,644,25436,Product644,2017-10-18 12:31:46,Cash,4553

Text file

In [ ]:
customer1=pd.read_csv("/content/customers.txt",delimiter="|",header= None,
                      names=['custno',
                             'firstname',
                             'lastname',
                             'gender',
                             'age',
                             'profession',
                             'contactNo',
                             'emailId',
                             'city',
                             'state',
                             'isActive',
                             'createdDate',
                             'UpdatedDate'])
customer1

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Leslie,Bass,F,27,B,37307,endslost@everyma1l.org,Gibson,Dellwood,Y,2017-09-21 12:38:22,2017-10-18 12:12:28
1,2,Judy,Burks,M,53,S,84759,rfleming@hotma1l.co.uk,Suwanee,Trabue,Y,2017-05-22 05:29:22,2017-10-18 12:12:28
2,3,Marsha,Doyle,F,48,B,80932,arethe53@ma1lbox.net,Perry,Moxadarla,Y,2017-09-03 12:11:29,2017-10-18 12:12:28
3,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2017-02-16 04:05:35,2017-10-18 12:12:28
4,5,Martha,Combs,F,49,B,83947,camedied@everyma1l.us,Ocilla,Greenwood,Y,2017-05-15 07:34:35,2017-10-18 12:12:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Roxanne,Velazquez,M,37,S,57463,warpdays@ma1l2u.co.uk,Crawfordville,Baughman,Y,2017-05-20 02:40:38,2017-10-18 12:12:29
996,997,Kristen,Wall,F,20,B,62662,sreynolds64@ma1lbox.org,Stillwell,Beatty,Y,2017-09-12 06:56:14,2017-10-18 12:12:29
997,998,Terry,Blackwell,M,28,S,49457,shipfire@ma1l2u.net,Funston,Winding,Y,2017-01-11 03:59:09,2017-10-18 12:12:29
998,999,Betty,Leon,F,23,B,69268,endfound@somema1l.co.uk,Country Club Estate,Erin,Y,2017-08-24 01:05:37,2017-10-18 12:12:29
999,1000,Connie,Andrews,M,47,S,78445,dadgenerated@somema1l.co.uk,Montrose,Prame,N,2017-08-17 12:10:49,2017-10-18 12:12:29

In [ ]:
product1=pd.read_csv("/content/products.txt",delimiter="|",header=None,
                     names=['productno',
                            'productName',
                            'Description',
                            'isActive',
                            'createdDate',
                            'UpdatedDate'])
product1

,productno,productName,Description,isActive,createdDate,UpdatedDate
0,1,Product1,pgqorighfa,Y,2017-04-03 07:58:55,2017-10-18 12:12:38
1,2,Product2,lmndaaweth,Y,2017-09-21 12:38:31,2017-10-18 12:12:38
2,3,Product3,urifeubrhh,Y,2017-09-08 10:32:12,2017-10-18 12:12:38
3,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38
4,5,Product5,hzcpozsgfc,Y,2017-02-02 08:40:29,2017-10-18 12:12:38
...,...,...,...,...,...,...
995,996,Product996,acvxzpvhyu,Y,2017-09-09 07:49:14,2017-10-18 12:12:39
996,997,Product997,eguyggimfm,Y,2017-09-14 12:13:29,2017-10-18 12:12:39
997,998,Product998,hagbslxugf,Y,2017-04-20 06:25:03,2017-10-18 12:12:39
998,999,Product999,iuoraxdrlf,Y,2017-03-06 05:00:08,2017-10-18 12:12:39
999,1000,Product1000,ewgaacrkht,N,2017-07-13 02:52:44,2017-10-18 12:12:39

In [ ]:



transaction1=pd.read_csv("/content/transactions.txt",delimiter='|',header=None,names=['txnno','txndate','custno','amount','productno','spendby']
                     )
transaction1

     txnno              txndate  custno  amount  productno spendby
0        1  2017-10-18 12:31:45     923    2559        376    Card
1        2  2017-10-18 12:31:45     219    1706        151    Card
2        3  2017-10-18 12:31:45     927    3462        707    Cash
3        4  2017-10-18 12:31:45     806     865        539    Card
4        5  2017-10-18 12:31:45     958    2494         25    Card
..     ...                  ...     ...     ...        ...     ...
995    996  2017-10-18 12:31:46     653    2872        155    Cash
996    997  2017-10-18 12:31:46     849     815        386    Card
997    998  2017-10-18 12:31:46     939    3932        529    Card
998    999  2017-10-18 12:31:46     547    3021        774    Cash
999   1000  2017-10-18 12:31:46     204    2314        828    Card

[1000 rows x 6 columns]

Top Five Records

In [ ]:
print(" Customers first five records")
customer1.head()

 Customers first five records

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Leslie,Bass,F,27,B,37307,endslost@everyma1l.org,Gibson,Dellwood,Y,2017-09-21 12:38:22,2017-10-18 12:12:28
1,2,Judy,Burks,M,53,S,84759,rfleming@hotma1l.co.uk,Suwanee,Trabue,Y,2017-05-22 05:29:22,2017-10-18 12:12:28
2,3,Marsha,Doyle,F,48,B,80932,arethe53@ma1lbox.net,Perry,Moxadarla,Y,2017-09-03 12:11:29,2017-10-18 12:12:28
3,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2017-02-16 04:05:35,2017-10-18 12:12:28
4,5,Martha,Combs,F,49,B,83947,camedied@everyma1l.us,Ocilla,Greenwood,Y,2017-05-15 07:34:35,2017-10-18 12:12:28

In [ ]:
print("products first five records")
product1.head()

products first five records

,productno,productName,Description,isActive,createdDate,UpdatedDate
0,1,Product1,pgqorighfa,Y,2017-04-03 07:58:55,2017-10-18 12:12:38
1,2,Product2,lmndaaweth,Y,2017-09-21 12:38:31,2017-10-18 12:12:38
2,3,Product3,urifeubrhh,Y,2017-09-08 10:32:12,2017-10-18 12:12:38
3,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38
4,5,Product5,hzcpozsgfc,Y,2017-02-02 08:40:29,2017-10-18 12:12:38

In [ ]:
print(" Transactions first five records")
transaction1.head()

 Transactions first five records

   txnno              txndate  custno  amount  productno spendby
0      1  2017-10-18 12:31:45     923    2559        376    Card
1      2  2017-10-18 12:31:45     219    1706        151    Card
2      3  2017-10-18 12:31:45     927    3462        707    Cash
3      4  2017-10-18 12:31:45     806     865        539    Card
4      5  2017-10-18 12:31:45     958    2494         25    Card

Customers purchased more than 3 products

In [ ]:
df=transaction1.groupby('custno').count()
df1=df.sort_values(by='amount',ascending=False)
top_3=df1[df1>3].dropna()
pd.merge(customer1,top_3,on='custno')

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate,txnno,txndate,amount,productno,spendby
0,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2017-02-16 04:05:35,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
1,86,Bonnie,McCall,M,37,S,70907,constantlyfire@gma1l.net,Screven,Farson,Y,2017-10-12 07:35:28,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
2,167,Alice,Blake,F,58,B,22324,wherealways@b1zmail.biz,Homerville,Daisy,Y,2017-05-01 08:00:29,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
3,187,Alan,Anthony,F,50,B,40487,calvarez@ma1l2u.us,Sunbury,Linn,Y,2017-05-25 04:59:16,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
4,237,Dawn,West,F,26,B,75618,oncaves@everyma1l.biz,Adrian,Extension,Y,2017-03-04 01:29:08,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
5,241,Derrick,Pearson,F,33,B,74138,acarpenter@b1zmail.com,Crescent,Grove,Y,2017-04-02 05:16:41,2017-10-18 12:12:28,5.0,5.0,5.0,5.0,5.0
6,321,Crystal,Le,F,64,B,37857,klawrence@hotma1l.biz,East Dublin,Thorn,Y,2017-08-31 06:11:45,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
7,326,Heidi,Stanley,M,29,S,78822,bhull@everyma1l.us,Fayetteville,Garrell,Y,2017-08-30 04:10:06,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
8,331,Cynthia,Harrison,F,49,B,53439,krush@gma1l.us,Mcintosh,Bradington,Y,2017-05-07 12:42:19,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
9,356,Mitchell,Mason,M,37,S,45064,fromwhat@somema1l.us,Cecil,Lazelere,Y,2017-09-02 06:47:20,2017-10-18 12:12:28,4.0,4.0,4.0,4.0,4.0
10,391,Keith,Church,F,19,B,26859,tkeith@yah00.com,Collins,Stout,Y,2017-08-02 01:12:49,2017-10-18 12:12:28,5.0,5.0,5.0,5.0,5.0
11,537,Jake,Bush,F,23,B,80535,lsharpe@somema1l.us,Doraville,Springdale,Y,2017-03-10 03:37:40,2017-10-18 12:12:29,4.0,4.0,4.0,4.0,4.0
12,558,Lois,Todd,M,58,S,39051,rgarner@ma1lbox.org,Broxton,Cliffwood,Y,2017-10-03 05:37:28,2017-10-18 12:12:29,4.0,4.0,4.0,4.0,4.0
13,578,Christine,Murray,M,40,S,74244,aacevedo@somema1l.org,Sirmans,Darla,Y,2017-02-24 01:15:33,2017-10-18 12:12:29,4.0,4.0,4.0,4.0,4.0
14,709,Kyle,Haynes,F,44,B,30552,ecain@somema1l.com,Riverdale,Eastview,Y,2017-06-03 07:10:55,2017-10-18 12:12:29,4.0,4.0,4.0,4.0,4.0
15,735,James,Payne,F,39,B,30415,inhatch@b1zmail.biz,Gainesville,Hardesty,Y,2017-04-03 05:10:16,2017-10-18 12:12:29,4.0,4.0,4.0,4.0,4.0
16,753,Denise,Stokes,F,37,B,88779,textas98@b1zmail.org,Twin Peaks,Alburn,Y,2017-04-30 05:25:57,2017-10-18 12:12:29,4.0,4.0,4.0,4.0,4.0
17,828,Katrina,Barber,M,47,S,61069,whattook@everyma1l.us,Fort Oglethorpe,Detroit,Y,2017-04-14 06:49:04,2017-10-18 12:12:29,4.0,4.0,4.0,4.0,4.0
18,989,Ronald,Mayo,F,56,B,23161,redthrow@ma1lbox.com,Kite,Smithwood,Y,2017-10-04 04:16:09,2017-10-18 12:12:29,4.0,4.0,4.0,4.0,4.0

top 5 most demanded products

In [ ]:
transaction1.sort_values(by='amount',ascending=False).head()

     txnno              txndate  custno  amount  productno spendby
556    557  2017-10-18 12:31:46     670    4996        509    Card
305    306  2017-10-18 12:31:46     448    4992        427    Cash
574    575  2017-10-18 12:31:46     305    4981        549    Card
531    532  2017-10-18 12:31:46     230    4980        658    Card
232    233  2017-10-18 12:31:45     287    4966        685    Card

distinct professions

In [ ]:
customer1['profession'].unique()

array(['B', 'S'], dtype=object)

highest age

In [ ]:
customer1.sort_values(by='age',ascending=False).head(1)

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
500,501,Morgan,Donaldson,F,64,B,52553,ggordon8@yah00.biz,Elberton,Codell,Y,2017-08-15 01:08:02,2017-10-18 12:12:29

custno, gender, age, profession, contactno, productno, productName, txndate, spendby, amount from CSV_s1 for custno = 923

In [ ]:
A=customer1[customer1['custno']==923]
df=pd.merge(A,transaction1,on='custno')
df1=pd.merge(df,product1,on='productno')
df1[['custno', 'gender', 'age', 'profession', 'productno', 'contactNo','productName', 'txndate', 'spendby', 'amount']]

,custno,gender,age,profession,productno,contactNo,productName,txndate,spendby,amount
0,923,F,46,B,376,25436,Product376,2017-10-18 12:31:45,Card,2559
1,923,F,46,B,113,25436,Product113,2017-10-18 12:31:46,Card,2303
2,923,F,46,B,644,25436,Product644,2017-10-18 12:31:46,Cash,4553

xml file

In [ ]:
customer2=pd.read_xml('/content/customers.xml',
                      names=['custno',
                             'firstname',
                             'lastname',
                             'gender',
                             'age',
                             'profession',
                             'contactNo',
                             'emailId',
                             'city',
                             'state',
                             'isActive',
                             'createdDate',
                             'UpdatedDate'])
customer2

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Teegan,Hubbard,2,33,Human Resources,1681121691699,nibh.Quisque@placerat.com,Galashiels,Selkirkshire,1,2016-12-07,2018-09-05
1,2,Deacon,Briggs,2,54,Customer Relations,1631082682999,facilisis.eget@Nullaeu.com,Lens-Saint-Remy,LU,1,2017-04-26,2018-06-04
2,3,Mallory,Shelton,1,57,Customer Relations,1627011572699,Curabitur.ut@Nullatempor.edu,North Shore,NI,1,2017-01-02,2018-08-01
3,4,Quinn,Clements,2,43,Media Relations,1618122268999,metus.Vivamus.euismod@urna.edu,Heredia,H,1,2017-02-11,2018-07-18
4,5,Arthur,Hurst,2,41,Tech Support,1681021022799,in@commodoipsum.org,San Diego,Cartago,2,2017-03-30,2018-05-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Harriet,Moreno,1,33,Legal Department,1699083081799,adipiscing.lobortis.risus@est.edu,Mogliano,Marche,1,2017-03-16,2017-11-15
96,97,Nell,Sparks,1,63,Asset Management,1676091596299,ullamcorper.Duis.at@ultricesDuisvolutpat.com,AsniÃ¨res-sur-Seine,IL,2,2017-03-15,2017-07-09
97,98,Ashely,Lynn,1,30,Customer Service,1648120950499,faucibus.leo@egestasadui.co.uk,Redlands,QLD,2,2017-03-18,2017-11-22
98,99,Emily,Williams,2,30,Finances,1673100901599,sit.amet@miloremvehicula.edu,Berwick-upon-Tweed,Northumberland,2,2016-12-23,2017-11-19
99,100,Tashya,Dudley,1,31,Customer Relations,1623012937399,et.netus.et@NullamnislMaecenas.edu,Stockholm,Stockholms lÃ¤n,1,2016-12-18,2018-11-10

In [ ]:
product2=pd.read_xml("/content/products.xml",
                     names=['productno',
                            'productName',
                            'Description',
                            'isActive',
                            'createdDate',
                            'UpdatedDate'])
product2

    productno     productName Description  isActive createdDate UpdatedDate
0         100  Hyundai Motors       eight         2  2017-10-01  2017-11-04
1         101           Honda       eight         1  2017-04-10  2017-11-11
2         102             GMC       three         2  2017-02-09  2017-11-17
3         103           Lexus       eight         2  2017-06-01  2017-11-04
4         104           Smart        five         2  2017-08-10  2017-11-16
..        ...             ...         ...       ...         ...         ...
95        195           Honda        four         2  2016-11-09  2017-11-19
96        196     Tata Motors       three         2  2016-11-17  2017-11-03
97        197        Kenworth        nine         1  2017-09-21  2017-11-09
98        198           Skoda        nine         2  2017-04-14  2017-11-14
99        199             BMW         six         2  2017-06-23  2017-11-15

[100 rows x 6 columns]

In [ ]:
transaction2=pd.read_xml("/content/transactions.xml",
                         names=['txnno',
                                'txndate',
                                'custno',
                                'amount',
                                'productno',
                                'spendby'])
transaction2

    txnno     txndate  custno  amount  productno  spendby
0       1  2018-09-16       6     576         73        1
1       2  2018-02-11      96    1038         40        2
2       3  2017-06-13      17     673          2        1
3       4  2017-07-25      89    1284        100        2
4       5  2017-06-15       9    1685         56        2
..    ...         ...     ...     ...        ...      ...
95     96  2018-11-10      59    1388         26        2
96     97  2017-09-13      57    1261         36        2
97     98  2017-10-29       7      93         60        1
98     99  2017-09-30       4     643         38        1
99    100  2017-10-12      77    1902         54        2

[100 rows x 6 columns]

Top Five Records

In [ ]:
print(" Customers first five records")
customer2.head()

 Customers first five records

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Teegan,Hubbard,2,33,Human Resources,1681121691699,nibh.Quisque@placerat.com,Galashiels,Selkirkshire,1,2016-12-07,2018-09-05
1,2,Deacon,Briggs,2,54,Customer Relations,1631082682999,facilisis.eget@Nullaeu.com,Lens-Saint-Remy,LU,1,2017-04-26,2018-06-04
2,3,Mallory,Shelton,1,57,Customer Relations,1627011572699,Curabitur.ut@Nullatempor.edu,North Shore,NI,1,2017-01-02,2018-08-01
3,4,Quinn,Clements,2,43,Media Relations,1618122268999,metus.Vivamus.euismod@urna.edu,Heredia,H,1,2017-02-11,2018-07-18
4,5,Arthur,Hurst,2,41,Tech Support,1681021022799,in@commodoipsum.org,San Diego,Cartago,2,2017-03-30,2018-05-19

In [ ]:
print("Products first five records")
product2.head()

Products first five records

   productno     productName Description  isActive createdDate UpdatedDate
0        100  Hyundai Motors       eight         2  2017-10-01  2017-11-04
1        101           Honda       eight         1  2017-04-10  2017-11-11
2        102             GMC       three         2  2017-02-09  2017-11-17
3        103           Lexus       eight         2  2017-06-01  2017-11-04
4        104           Smart        five         2  2017-08-10  2017-11-16

In [ ]:
print("transactions first five records")
transaction2.head()

transactions first five records

   txnno     txndate  custno  amount  productno  spendby
0      1  2018-09-16       6     576         73        1
1      2  2018-02-11      96    1038         40        2
2      3  2017-06-13      17     673          2        1
3      4  2017-07-25      89    1284        100        2
4      5  2017-06-15       9    1685         56        2

Customers purchased more than 3 products

In [ ]:
df=transaction2.groupby('custno').count()
df1=df.sort_values(by='amount',ascending=False)
top_3=df1[df1>3].dropna()
pd.merge(customer2,top_3, on='custno')

print('Nobody purchase more than 3 products')

Nobody purchase more than 3 products

top 5 most demanded products

In [ ]:
transaction2.sort_values(by='amount',ascending=False).head()

    txnno     txndate  custno  amount  productno  spendby
28     29  2018-09-29       1    1928         80        2
51     52  2018-05-05      14    1923         86        2
99    100  2017-10-12      77    1902         54        2
69     70  2018-07-26      18    1880          5        1
35     36  2018-08-05      19    1867         53        1

distinct professions

In [ ]:
customer2['profession'].unique()

array(['Human Resources', 'Customer Relations', 'Media Relations',
       'Tech Support', 'Advertising', 'Asset Management',
       'Legal Department', 'Accounting', 'Finances',
       'Research and Development', 'Sales and Marketing', 'Payroll',
       'Quality Assurance', 'Customer Service', 'Public Relations'],
      dtype=object)

highest age

In [ ]:
customer2.sort_values(by='age',ascending=False).head(1)

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
32,33,Colton,Atkinson,1,65,Asset Management,1648031707899,elementum.dui.quis@sagittis.edu,Viesville,HE,2,2016-12-12,2018-09-12

custno, gender, age, profession, contactno, productno, productName, txndate, spendby, amount from CSV_s1 for custno = 923

In [ ]:
A= customer2[customer2['custno']== 923]
df=pd.merge(A,transaction2,on='custno')
df1=pd.merge(df,product2,on='productno')
df1[['custno', 'gender', 'age', 'profession', 'productno', 'contactNo','productName', 'txndate', 'spendby', 'amount']]
print("no custno = 923 exists in customer2")

no custno = 923 exists in customer2

json file

In [3]:
product3= pd.read_json("/content/products.json",orient="values")
product3

    productno     productName Description  isActive createdDate UpdatedDate
0         100        Vauxhall        four         2  2016-11-21  2017-11-09
1         101          Toyota         six         2  2017-10-03  2017-11-13
2         102  General Motors         two         1  2017-09-18  2017-11-03
3         103         Renault       eight         2  2017-10-05  2017-11-13
4         104        Kenworth       three         1  2017-05-03  2017-11-04
..        ...             ...         ...       ...         ...         ...
95        195             BMW        nine         2  2017-05-06  2017-11-18
96        196            Fiat       seven         2  2016-11-13  2017-11-17
97        197         Renault        five         1  2017-09-23  2017-11-16
98        198      Kia Motors       seven         2  2017-05-27  2017-11-02
99        199      RAM Trucks       eight         2  2017-04-05  2017-11-20

[100 rows x 6 columns]

In [2]:
import pandas as pd
customer3=pd.read_json("/content/customers.json",orient='values')
customer3

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Dai,Noble,2,53,Human Resources,1644101928099,eu.lacus.Quisque@loremac.com,Berlin,Berlin,1,2017-03-01,2018-08-25
1,2,Kay,Wise,2,26,Public Relations,1674031917099,ridiculus@Sednunc.ca,Oldenzaal,Overijssel,2,2017-04-10,2018-08-30
2,3,Amir,Pace,1,43,Customer Relations,1636050509999,quam.Pellentesque@erat.edu,Cobourg,Ontario,2,2017-03-04,2018-09-18
3,4,Sebastian,Lopez,2,32,Customer Relations,1666010108899,magna@venenatis.net,Te Awamutu,NI,1,2016-12-17,2018-09-12
4,5,Brian,Maddox,1,40,Quality Assurance,1646080399299,ac.facilisis@Duis.com,Greater Sudbury,Ontario,2,2017-02-18,2018-05-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Tanner,Webster,1,29,Accounting,1651102557499,Maecenas.libero@Namacnulla.net,Gloucester,Ontario,2,2016-12-02,2018-06-20
96,97,Tatiana,Gates,2,54,Advertising,1614113098499,cursus@loremsit.net,Bassano in Teverina,LAZ,1,2017-03-09,2018-10-05
97,98,Baxter,Valenzuela,1,43,Asset Management,1673011459999,Donec.tincidunt.Donec@musProinvel.ca,Ham-sur-Sambre,Namen,2,2017-02-18,2018-02-19
98,99,Chadwick,Mcclure,2,42,Payroll,1683050699999,viverra@aarcuSed.org,Dolembreux,Luik,1,2017-05-02,2017-08-08
99,100,Tate,Booth,2,53,Advertising,1601040792399,tellus@adipiscing.edu,Quilleco,VII,1,2017-03-11,2017-07-19

In [4]:
transaction3= pd.read_json("/content/transactions.json",orient="values")
transaction3

    txnno     txndate  custno  amount  productno  spendby
0       1  2018-07-31      71     181         19        2
1       2  2017-04-02      44     401         48        2
2       3  2018-01-31      45    1808         44        2
3       4  2018-04-02      62      65         22        2
4       5  2017-08-17      88    1149         74        2
..    ...         ...     ...     ...        ...      ...
95     96  2017-02-14      81     124         29        1
96     97  2017-11-16       2     672         78        1
97     98  2018-08-14      43     538         61        1
98     99  2017-05-06      74    1856         95        2
99    100  2017-08-28      85     273         99        2

[100 rows x 6 columns]

Top Five Records

In [5]:
print("Customers first five records")
customer3.head()

Customers first five records

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Dai,Noble,2,53,Human Resources,1644101928099,eu.lacus.Quisque@loremac.com,Berlin,Berlin,1,2017-03-01,2018-08-25
1,2,Kay,Wise,2,26,Public Relations,1674031917099,ridiculus@Sednunc.ca,Oldenzaal,Overijssel,2,2017-04-10,2018-08-30
2,3,Amir,Pace,1,43,Customer Relations,1636050509999,quam.Pellentesque@erat.edu,Cobourg,Ontario,2,2017-03-04,2018-09-18
3,4,Sebastian,Lopez,2,32,Customer Relations,1666010108899,magna@venenatis.net,Te Awamutu,NI,1,2016-12-17,2018-09-12
4,5,Brian,Maddox,1,40,Quality Assurance,1646080399299,ac.facilisis@Duis.com,Greater Sudbury,Ontario,2,2017-02-18,2018-05-13

In [6]:
print("Products first five records")
product3.head()

Products first five records

   productno     productName Description  isActive createdDate UpdatedDate
0        100        Vauxhall        four         2  2016-11-21  2017-11-09
1        101          Toyota         six         2  2017-10-03  2017-11-13
2        102  General Motors         two         1  2017-09-18  2017-11-03
3        103         Renault       eight         2  2017-10-05  2017-11-13
4        104        Kenworth       three         1  2017-05-03  2017-11-04

In [8]:
print("transactions first five records")
transaction3.head()

transactions first five records

   txnno     txndate  custno  amount  productno  spendby
0      1  2018-07-31      71     181         19        2
1      2  2017-04-02      44     401         48        2
2      3  2018-01-31      45    1808         44        2
3      4  2018-04-02      62      65         22        2
4      5  2017-08-17      88    1149         74        2

Customers purchased more than 3 products

In [9]:
df=transaction3.groupby('custno').count()
df1=df.sort_values(by='amount',ascending=False)
top_3=df1[df1>3].dropna()
pd.merge(customer3,top_3,on='custno')

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate,txnno,txndate,amount,productno,spendby
0,34,Gregory,Stanton,2,29,Research and Development,1679070209599,consectetuer@Lorem.edu,Shipshaw,QC,1,2017-05-29,2017-08-09,6.0,6.0,6.0,6.0,6.0
1,36,Xandra,Holt,2,41,Finances,1668031049999,montes.nascetur@laoreetposuereenim.edu,Rutland,Vermont,1,2017-04-14,2017-12-22,4.0,4.0,4.0,4.0,4.0
2,88,Robert,Luna,1,56,Research and Development,1681011904499,primis@ipsum.com,Baracaldo,PV,2,2017-04-10,2018-02-26,4.0,4.0,4.0,4.0,4.0

top 5 most demanded products

In [10]:
transaction3.sort_values(by='amount',ascending=False).head()

    txnno     txndate  custno  amount  productno  spendby
67     68  2018-07-16      34    1955         26        2
20     21  2017-11-04      57    1927         91        1
86     87  2018-01-25      56    1901         89        1
24     25  2018-08-02      61    1870         65        1
82     83  2018-10-25      40    1869         76        1

distinct professions

In [11]:
customer3['profession'].unique()

array(['Human Resources', 'Public Relations', 'Customer Relations',
       'Quality Assurance', 'Payroll', 'Accounting', 'Advertising',
       'Sales and Marketing', 'Tech Support', 'Asset Management',
       'Research and Development', 'Customer Service', 'Media Relations',
       'Finances', 'Legal Department'], dtype=object)

highest age

In [12]:
customer3.sort_values(by='age',ascending=False).head(1)

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
72,73,Jameson,Barber,2,65,Asset Management,1659101735499,ac.eleifend.vitae@dictumProin.co.uk,Ankara,Ankara,1,2017-05-23,2018-03-22

custno, gender, age, profession, contactno, productno, productName, txndate, spendby, amount from CSV_s1 for custno = 923

In [16]:
A=customer3[customer3['custno']==923]
df=pd.merge(A,transaction3,on='custno')
df1=pd.merge(df,product3,on='productno')
df1[['custno', 'gender', 'age', 'profession', 'productno', 'contactNo','productName', 'txndate', 'spendby', 'amount']]
print("No exists custno=923 in customer3")

No exists custno=923 in customer3